body {
  background-color: var(--body-background-color);
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto; }

#app {
  width: 100%;
  height: calc(100%);
  color: var(--app-word-color); }
  #app a {
    text-decoration: none;
    color: #00162c; }

.scrollbar > div:last-child {
  width: 6px !important;
  border-radius: 3px !important; }
  .scrollbar > div:last-child div {
    background-color: var(--scrollbar-div-background-color) !important; }
    .scrollbar > div:last-child div:hover {
      background-color: var(--scrollbar-div-hover-background-color) !important; }
  .scrollbar > div:last-child:hover {
    width: 8px !important;
    border-radius: 4px !important; }

body[style*='user-select: none'] .scrollbar > div:last-child {
  width: 8px !important;
  border-radius: 4px !important; }
  body[style*='user-select: none'] .scrollbar > div:last-child div {
    background-color: var(--scrollbar-div-select-background-color) !important; }

div {
  outline: none; }

@charset "UTF-8";
.Triangle, #article .t_center_down::after, #article .t_center_up::after, #article .t_right_down::after, #article .t_right_up::after, #article .t_left_down::after, #article .t_left_up::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: #FFFFFF;
  z-index: 99; }

#article {
  width: calc(100% - 164px);
  margin: 10px 0px 10px 0px;
  border-radius: 8px;
  user-select: text !important; }
  #article #article_bg {
    margin: 0px 10px 0px 10px;
    background-color: var(--nav-background-color);
    border-radius: 8px; }
    #article #article_bg .read {
      position: absolute;
      width: 90%;
      min-width: 600px;
      max-width: 1024px;
      left: 50%;
      transform: translateX(-50%);
      background-color: transparent;
      font-family: var(--nav-world-font-family);
      margin: 0px;
      padding: 0 8.8%;
      font-size: 0.9rem;
      color: var(--article-read-word-color);
      outline: 0px; }
      #article #article_bg .read .version-info {
        margin-top: 20px;
        border-top: 1px solid var(--index-h2-color);
        padding-top: 10px;
        color: #414d68; }
        #article #article_bg .read .version-info span {
          padding-right: 10px; }
        #article #article_bg .read .version-info a {
          float: right;
          color: #0081FF; }
        #article #article_bg .read .version-info .spanbox {
          display: none; }
      #article #article_bg .read h2 {
        font-weight: normal;
        font-size: 1.5rem;
        color: var(--article-read-h2-word-color);
        margin: 0px;
        padding-top: 23px; }
        #article #article_bg .read h2 + p {
          margin-top: 15px; }
      #article #article_bg .read ul,
      #article #article_bg .read ol {
        margin: 0;
        padding: 0; }
      #article #article_bg .read li {
        margin-left: 2em;
        line-height: 1.8rem; }
      #article #article_bg .read img[src$='svg'] {
        height: 20px;
        vertical-align: middle; }
      #article #article_bg .read img[src$='png'] {
        margin-top: 10px;
        max-width: 99%;
        cursor: pointer; }
        @media screen and (-webkit-min-device-pixel-ratio: 1.25) {
          #article #article_bg .read img[src$='png'] {
            zoom: 2; } }
        @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
          #article #article_bg .read img[src$='png'] {
            zoom: 1; } }
        @media screen and (-webkit-min-device-pixel-ratio: 1.75) {
          #article #article_bg .read img[src$='png'] {
            zoom: 0.66667; } }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
          #article #article_bg .read img[src$='png'] {
            zoom: 0.5; } }
      #article #article_bg .read img[src$='jpg'] {
        margin-top: 10px;
        max-width: 99%;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1); }
        @media screen and (-webkit-min-device-pixel-ratio: 1.25) {
          #article #article_bg .read img[src$='jpg'] {
            zoom: 2; } }
        @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
          #article #article_bg .read img[src$='jpg'] {
            zoom: 1; } }
        @media screen and (-webkit-min-device-pixel-ratio: 1.75) {
          #article #article_bg .read img[src$='jpg'] {
            zoom: 0.66667; } }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
          #article #article_bg .read img[src$='jpg'] {
            zoom: 0.5; } }
      #article #article_bg .read p {
        line-height: 1.8em;
        margin: 0; }
      #article #article_bg .read table {
        color: var(--article-table-text-color);
        border-collapse: collapse;
        border-top: 2px solid var(--article-table-border-color);
        border-bottom: 2px solid var(--article-table-border-color);
        margin-top: 20px; }
        #article #article_bg .read table.block1 {
          width: 99%;
          float: left;
          margin-right: 1%; }
        #article #article_bg .read table.block2 {
          width: 49%;
          float: left;
          margin-right: 1%; }
        #article #article_bg .read table.block3 {
          width: 32.33333%;
          float: left;
          margin-right: 1%; }
        #article #article_bg .read table.block4 {
          width: 24%;
          float: left;
          margin-right: 1%; }
        #article #article_bg .read table tr {
          border-bottom: 1px solid var(--article-table-cell-border-color);
          font-size: 0.9rem; }
          #article #article_bg .read table tr td {
            padding: 5px; }
        #article #article_bg .read table caption {
          text-align: left; }
      #article #article_bg .read a {
        text-decoration: none;
        font-weight: bold;
        color: #757575;
        cursor: pointer; }
        #article #article_bg .read a[href^='#'] {
          color: #0082fa; }
        #article #article_bg .read a[href^='dman://'] {
          color: #4e64f6; }
          #article #article_bg .read a[href^='dman://']:after {
            content: ' 📃 '; }
      #article #article_bg .read blockquote {
        margin: 0;
        font-style: italic; }
      #article #article_bg .read .searchWK {
        background-color: yellow; }
  #article #preview {
    position: fixed;
    width: 600px;
    height: 250px;
    z-index: 100;
    background: var(--body-color-white2black);
    border-radius: 3px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 8px 0px; }
    #article #preview #view {
      height: 100%;
      overflow-y: auto; }
      #article #preview #view .read {
        width: 80%;
        margin: auto;
        font-size: 0.9rem; }
  #article .t_center_down::after {
    right: 300px;
    bottom: -4px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), 1px 0 rgba(0, 0, 0, 0.1); }
  #article .t_center_up::after {
    right: 300px;
    top: -4px;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.1), -1px 0 rgba(0, 0, 0, 0.1); }
  #article .t_right_down::after {
    right: 60px;
    bottom: -4px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), 1px 0 rgba(0, 0, 0, 0.1); }
  #article .t_right_up::after {
    right: 60px;
    top: -4px;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.1), -1px 0 rgba(0, 0, 0, 0.1); }
  #article .t_left_down::after {
    left: 60px;
    bottom: -4px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1), 1px 0 rgba(0, 0, 0, 0.1); }
  #article .t_left_up::after {
    left: 60px;
    top: -4px;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.1), -1px 0 rgba(0, 0, 0, 0.1); }
  #article #contextMenu {
    user-select: none;
    font-size: 0.9rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    border-radius: 3px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;
    text-align: center;
    z-index: 999; }
    #article #contextMenu h4 {
      font-weight: unset;
      margin: 4px 0;
      padding: 2px 0;
      width: 100%;
      cursor: pointer; }
    #article #contextMenu h4:hover {
      background-color: #0082fa; }

#index {
  user-select: none;
  display: flex;
  flex-flow: column;
  margin: -19px 117px -19px 117px; }
  #index:after {
    content: '';
    display: block;
    width: 100%;
    height: 100px; }
  #index h2 {
    font-family: var(--nav-world-font-family);
    font-weight: normal;
    font-size: 3.1rem;
    line-height: 4.5rem;
    margin: 0.5em 0 0;
    border-bottom: 1px solid var(--index-h2-color);
    padding-bottom: 12px; }
  #index .items {
    display: flex;
    position: relative;
    left: -50px;
    width: calc(100% + 100px);
    right: 0px;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start; }
    #index .items .empty {
      width: 160px;
      padding: 0 10px; }
    #index .items .item {
      background-color: var(--index-item-background-color);
      border-radius: 18px;
      padding: 0px;
      width: var(--index-item-size);
      height: var(--index-item-size);
      margin: 30px 0px 0px 50px;
      display: inline-block;
      text-align: center;
      vertical-align: bottom;
      cursor: pointer; }
      #index .items .item img {
        width: 96px;
        height: 96px;
        margin-top: 18px;
        margin-bottom: 3px; }
      #index .items .item .content {
        margin-left: 15px;
        width: var(--index-span-width);
        word-break: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        font-family: var(--nav-world-font-family);
        font-size: var(--span-font-size);
        line-height: var(--span-line-height);
        color: var(--index-item-span-word-color); }
      #index .items .item:hover {
        background-clip: content-box;
        border-radius: 18px;
        background-color: var(--index-item-hover-color); }
      #index .items .item .tag {
        display: inline-block;
        height: 8px;
        width: 8px;
        margin-right: 4px;
        margin-bottom: var(--span-maring-bottom);
        box-shadow: 0px 2px 8px 0px var(--nav-hash-hover-color);
        border-radius: 8px;
        background-color: var(--nav-hash-word-color); }

body {
  overflow: hidden; }

#main .tooltip-wp {
  position: absolute;
  width: 200px;
  z-index: 100;
  display: none; }

#main .tooltip-wp:after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: 0;
  max-width: 500px;
  padding: 2px 5px;
  word-break: normal;
  background-color: var(--tips-background-color);
  color: var(--nav-h2-word-color);
  font-family: var(--nav-world-font-family);
  border-radius: 5px;
  border: 1px solid gray; }

#main .support-div {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: var(--nav-hash-word-color);
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 20px; }

#main .support {
  width: 20px;
  height: 21px;
  margin-top: 14px;
  margin-left: 14px; }

#nav {
  margin: 0 0 0 0;
  padding-bottom: 10px;
  font-family: var(--nav-world-font-family);
  user-select: none;
  width: 164px !important;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--nav-background-color);
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 10px); }
  #nav .h {
    cursor: pointer;
    border-right: 3px solid transparent;
    padding-right: 1rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    #nav .h[type='h2'] {
      font-size: 1.3rem;
      font-weight: 500;
      color: var(--nav-h2-word-color);
      padding: 4px 0px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      text-indent: 0.88rem; }
    #nav .h[type='h3'] {
      font-size: 1.1rem;
      font-weight: 500;
      color: var(--nav-h3-word-color);
      margin-top: 2px;
      padding: 4px 0 5px;
      margin-left: 10px;
      margin-right: 10px;
      text-indent: 1.5rem; }
    #nav .h:hover {
      border-radius: 8px;
      background-color: var(--nav-hover-color); }
  #nav .hash {
    background-color: var(--nav-hash-word-color);
    color: #FFFFFF !important;
    border-radius: 8px;
    font-weight: bold; }
    #nav .hash:hover {
      background-color: var(--nav-hash-hover-color); }
    #nav .hash:active {
      background-color: var(--nav-hash-hover-color); }

#search {
  width: 80%;
  margin: auto;
  user-select: text !important; }
  #search div {
    width: 100%; }
  #search #mismatch {
    width: 80%;
    height: 100%;
    margin: auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center; }
    #search #mismatch #NoResult {
      font-family: var(--nav-world-font-family);
      margin-top: -68px;
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.5rem;
      color: var(--search-noresult-word-color);
      margin-bottom: 11px; }
    #search #mismatch #WikiSearch {
      font-family: var(--nav-world-font-family);
      font-size: 0.9rem;
      color: var(--search-WikiSearch-color);
      margin-bottom: 26px; }
    #search #mismatch .button {
      font-family: var(--nav-world-font-family);
      font-weight: 500;
      font-size: 1.1rem;
      padding: 6px 42px 8px;
      background: linear-gradient(var(--search-button-background-color-start), var(--search-button-background-color-end));
      color: var(--search-button-word-color);
      width: 80px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
      border: solid 1px rgba(0, 0, 0, 0.03);
      border-radius: 8px;
      text-align: center;
      cursor: pointer; }
    #search #mismatch .button:hover {
      opacity: 0.9;
      color: var(--search-button-hover-word-color);
      background: linear-gradient(var(--search-button-hover-color-start), var(--search-button-hover-color-end)); }
    #search #mismatch .button:hover:after {
      opacity: 1;
      color: var(--search-button-word-color);
      background: linear-gradient(var(--search-button-background-color-start), var(--search-button-background-color-end)); }
  #search .items {
    padding: 0px 20px 0px 40px;
    color: var(--search-items-word-color);
    font-family: var(--nav-world-font-family);
    margin: 20px 0px 0px -20px; }
    #search .items .itemsTitle {
      padding: 7px 10px 0px 0px;
      margin: 10px auto auto -20px;
      cursor: pointer;
      height: 32px;
      font-size: 1.1rem;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical; }
      #search .items .itemsTitle img {
        height: 100%;
        vertical-align: middle;
        margin: auto 10px auto 5px; }
      #search .items .itemsTitle .resulttitle {
        color: var(--search-noresult-word-color);
        vertical-align: middle;
        font-size: 1.3rem;
        font-weight: bold; }
      #search .items .itemsTitle .resultnum {
        font-family: var(--nav-world-font-family);
        font-size: 0.9rem;
        line-height: 1.4rem;
        float: right;
        color: var(--search-items-resultnum-word-color);
        margin-top: 10px;
        margin-right: 0px;
        vertical-align: text-bottom; }
    #search .items .item {
      cursor: pointer;
      padding: 7px 10px 0px 0px;
      margin: 10px auto auto -20px;
      font-size: 0.9rem;
      line-height: 1.8rem;
      border-radius: 8px;
      background-color: var(--search-item-background-color);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
      #search .items .item img[src$='svg'] {
        margin-top: -2px;
        height: 18px;
        vertical-align: middle; }
      #search .items .item img[src$='png'] {
        max-width: 99%;
        cursor: pointer; }
        @media screen and (-webkit-min-device-pixel-ratio: 1.25) {
          #search .items .item img[src$='png'] {
            zoom: 2; } }
        @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
          #search .items .item img[src$='png'] {
            zoom: 1; } }
        @media screen and (-webkit-min-device-pixel-ratio: 1.75) {
          #search .items .item img[src$='png'] {
            zoom: 0.66667; } }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
          #search .items .item img[src$='png'] {
            zoom: 0.5; } }
      #search .items .item img[src$='jpg'] {
        max-width: 99%;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1); }
        @media screen and (-webkit-min-device-pixel-ratio: 1.25) {
          #search .items .item img[src$='jpg'] {
            zoom: 2; } }
        @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
          #search .items .item img[src$='jpg'] {
            zoom: 1; } }
        @media screen and (-webkit-min-device-pixel-ratio: 1.75) {
          #search .items .item img[src$='jpg'] {
            zoom: 0.66667; } }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
          #search .items .item img[src$='jpg'] {
            zoom: 0.5; } }
      #search .items .item .itemTitle {
        width: 99%;
        margin: 0px 0px 0px 15px;
        font-size: 1.1rem;
        line-height: 1.5rem;
        height: 1.5rem;
        font-weight: bold;
        color: var(--search-itemTitle-word-color); }
      #search .items .item .context {
        width: 98%;
        margin: 7px 0px 10px 15px;
        font-family: var(--nav-world-font-family);
        color: var(--search-context-word-color);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; }
    #search .items .highlight {
      color: #2bba57; }
