@charset "utf-8";
#nav {
    margin: 0 0 0 0;
    padding-bottom: 10px;
    // font-family: SourceHanSansSC-Medium;
    font-family: var(--nav-world-font-family);
    user-select: none;
    width: 164px !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--nav-background-color);
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 10px);
    //border-right: 1px solid rgba(0, 0, 0, 0.1);
    .h {
        cursor: pointer;
        border-right: 3px solid transparent;
        padding-right: 1rem !important;
        &[type='h2'] {
            font-size: 1.3rem;
            font-weight: 500;
            color: var(--nav-h2-word-color);
            padding: 4px 0px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            text-indent: 0.88rem;
        }
        &[type='h3'] {
            font-size: 1.1rem; //1rem -> 13px
            font-weight: 500;
            color: var(--nav-h3-word-color);
            margin-top: 2px;
            padding: 4px 0 5px;
            margin-left: 10px;
            margin-right: 10px;
            text-indent: 1.5rem;
        }
        &:hover {
            border-radius: 8px;
            background-color: var(--nav-hover-color);
        }
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .hash {
        // box-shadow: 0 4px 6px 0 rgba(0,42,175,0.40);
        background-color: var(--nav-hash-word-color);
        color: #FFFFFF !important;
        border-radius: 8px;
        font-weight: bold;
        &:hover {
            background-color: var(--nav-hash-hover-color);
        }
        &:active {
            background-color: var(--nav-hash-hover-color);
        }
    }
}